In [2]:
import pandas as pd

# Load the data 
jan23 = pd.read_csv("data/nyc_crashes_202301.csv")

In [3]:
# Get the missing values percentage for each variable
missing_values_percentage = jan23.isnull().mean()

print (missing_values_percentage)

CRASH DATE                       0.000000
CRASH TIME                       0.000000
BOROUGH                          0.338156
ZIP CODE                         0.338156
LATITUDE                         0.066630
LONGITUDE                        0.066630
LOCATION                         0.066630
ON STREET NAME                   0.261928
CROSS STREET NAME                0.522882
OFF STREET NAME                  0.738072
NUMBER OF PERSONS INJURED        0.000000
NUMBER OF PERSONS KILLED         0.000000
NUMBER OF PEDESTRIANS INJURED    0.000000
NUMBER OF PEDESTRIANS KILLED     0.000000
NUMBER OF CYCLIST INJURED        0.000000
NUMBER OF CYCLIST KILLED         0.000000
NUMBER OF MOTORIST INJURED       0.000000
NUMBER OF MOTORIST KILLED        0.000000
CONTRIBUTING FACTOR VEHICLE 1    0.007372
CONTRIBUTING FACTOR VEHICLE 2    0.256503
CONTRIBUTING FACTOR VEHICLE 3    0.904298
CONTRIBUTING FACTOR VEHICLE 4    0.973432
CONTRIBUTING FACTOR VEHICLE 5    0.991376
COLLISION_ID                     0.000000
VEHICLE TYPE CODE 1              0.018779
VEHICLE TYPE CODE 2              0.370149
VEHICLE TYPE CODE 3              0.911949
VEHICLE TYPE CODE 4              0.975101
VEHICLE TYPE CODE 5              0.991793
dtype: float64

In [4]:
# Get the descriptive statistics for continuous variables
descriptive_statistics = jan23.describe()
print (descriptive_statistics)

           ZIP CODE     LATITUDE    LONGITUDE  NUMBER OF PERSONS INJURED  \
count   4758.000000  6710.000000  6710.000000                7189.000000
mean   10894.353510    40.230482   -73.026376                   0.502852
std      526.336214     4.448138     8.073369                   0.814039
min    10001.000000     0.000000   -74.250150                   0.000000
25%    10457.000000    40.663177   -73.965057                   0.000000
50%    11208.000000    40.711732   -73.921505                   0.000000
75%    11239.000000    40.774387   -73.865370                   1.000000
max    11694.000000    40.912827     0.000000                  21.000000

       NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
count               7189.000000                    7189.000000
mean                   0.002365                       0.115871
std                    0.051359                       0.397628
min                    0.000000                       0.000000
25%                    0.000000                       0.000000
50%                    0.000000                       0.000000
75%                    0.000000                       0.000000
max                    2.000000                      19.000000

       NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
count                   7189.000000                7189.000000
mean                       0.000696                   0.033245
std                        0.026365                   0.180063
min                        0.000000                   0.000000
25%                        0.000000                   0.000000
50%                        0.000000                   0.000000
75%                        0.000000                   0.000000
max                        1.000000                   2.000000

       NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
count               7189.000000                 7189.000000
mean                   0.000417                    0.333565
std                    0.020425                    0.749523
min                    0.000000                    0.000000
25%                    0.000000                    0.000000
50%                    0.000000                    0.000000
75%                    0.000000                    0.000000
max                    1.000000                    8.000000

       NUMBER OF MOTORIST KILLED  COLLISION_ID
count                7189.000000  7.189000e+03
mean                    0.001252  4.598979e+06
std                     0.039099  2.320496e+03
min                     0.000000  4.594332e+06
25%                     0.000000  4.597099e+06
50%                     0.000000  4.599030e+06
75%                     0.000000  4.600909e+06
max                     2.000000  4.604178e+06

In [5]:
# Get the frequency tables for discrete variables
jan23["CRASH DATE"].value_counts(dropna=False)

01/13/2023    293
01/19/2023    288
01/12/2023    271
01/01/2023    266
01/17/2023    250
01/25/2023    248
01/18/2023    248
01/10/2023    248
01/04/2023    246
01/23/2023    243
01/31/2023    243
01/26/2023    242
01/14/2023    240
01/28/2023    237
01/20/2023    233
01/22/2023    232
01/09/2023    231
01/05/2023    231
01/24/2023    228
01/06/2023    227
01/21/2023    223
01/30/2023    216
01/27/2023    215
01/16/2023    215
01/03/2023    214
01/11/2023    214
01/02/2023    198
01/29/2023    198
01/15/2023    190
01/08/2023    186
01/07/2023    175
Name: CRASH DATE, dtype: int64

In [6]:
jan23["CRASH TIME"].value_counts(dropna=False)

0:00     114
15:00     74
18:00     71
17:00     68
10:00     65
        ...
5:02       1
8:03       1
6:08       1
1:37       1
14:18      1
Name: CRASH TIME, Length: 1242, dtype: int64

In [7]:
jan23["BOROUGH"].value_counts(dropna=False)

NaN              2431
BROOKLYN         1643
QUEENS           1307
BRONX             810
MANHATTAN         804
STATEN ISLAND     194
Name: BOROUGH, dtype: int64

In [8]:
jan23["ZIP CODE"].value_counts(dropna=False)

NaN        2431
11207.0     124
11236.0      83
11208.0      79
11212.0      72
           ...
10280.0       1
10282.0       1
10121.0       1
11001.0       1
10169.0       1
Name: ZIP CODE, Length: 181, dtype: int64

In [9]:
""" 
Tried to use the syntax to show all information and found that it was too long. So I 
decided not to use this syntxt, but kept it in case I would need it in the future
"""
# with pd.option_context('display.max_rows', None):
print (jan23["ON STREET NAME"].value_counts(dropna=False))

NaN                           1883
BELT PARKWAY                   124
BROOKLYN QUEENS EXPRESSWAY      72
LONG ISLAND EXPRESSWAY          70
BROADWAY                        54
                              ...
FREEMAN STREET                   1
VAN SIDERIN AVENUE               1
EAST 61 STREET                   1
VANLOON STREET                   1
LONGWOOD AVENUE                  1
Name: ON STREET NAME, Length: 1572, dtype: int64

In [10]:
jan23["CROSS STREET NAME"].value_counts(dropna=False)

NaN                 3759
BROADWAY              37
3 AVENUE              37
2 AVENUE              32
ATLANTIC AVENUE       23
                    ...
154 STREET             1
Plaza Dr               1
181 STREET             1
EAST 137 STREET        1
BROADWAY TERRACE       1
Name: CROSS STREET NAME, Length: 1557, dtype: int64

In [11]:
jan23["OFF STREET NAME"].value_counts(dropna=False)

NaN                              5306
ATLANTIC AVENUE                     3
49-21     METROPOLITAN AVENUE       3
560       WINTHROP STREET           3
985       RICHMOND AVENUE           3
                                 ...
17        CONKLIN AVENUE            1
247       EAST 115 STREET           1
35        DIVISION STREET           1
196       MOTT STREET               1
470       CLARKSON AVENUE           1
Name: OFF STREET NAME, Length: 1859, dtype: int64

In [12]:
jan23["CONTRIBUTING FACTOR VEHICLE 1"].value_counts(dropna=False)

Driver Inattention/Distraction                           1761
Unspecified                                              1683
Failure to Yield Right-of-Way                             558
Following Too Closely                                     450
Passing or Lane Usage Improper                            346
Unsafe Speed                                              284
Passing Too Closely                                       265
Backing Unsafely                                          223
Traffic Control Disregarded                               197
Other Vehicular                                           191
Turning Improperly                                        186
Driver Inexperience                                       150
Alcohol Involvement                                       127
Unsafe Lane Changing                                      125
View Obstructed/Limited                                    73
Reaction to Uninvolved Vehicle                             64
Aggressive Driving/Road Rage                               58
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      57
NaN                                                        53
Pavement Slippery                                          49
Fell Asleep                                                40
Brakes Defective                                           30
Oversized Vehicle                                          28
Steering Failure                                           21
Passenger Distraction                                      19
Outside Car Distraction                                    17
Lost Consciousness                                         17
Glare                                                      14
Tire Failure/Inadequate                                    13
Obstruction/Debris                                         12
Illnes                                                     10
Drugs (illegal)                                            10
Accelerator Defective                                       9
Failure to Keep Right                                       9
Driverless/Runaway Vehicle                                  7
Pavement Defective                                          6
Physical Disability                                         5
Fatigued/Drowsy                                             4
Animals Action                                              4
Other Electronic Device                                     2
Tinted Windows                                              2
Tow Hitch Defective                                         2
Cell Phone (hand-Held)                                      2
Windshield Inadequate                                       1
Texting                                                     1
Prescription Medication                                     1
Traffic Control Device Improper/Non-Working                 1
Lane Marking Improper/Inadequate                            1
Other Lighting Defects                                      1
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [13]:
jan23["CONTRIBUTING FACTOR VEHICLE 2"].value_counts(dropna=False)

Unspecified                                              4521
NaN                                                      1844
Driver Inattention/Distraction                            310
Other Vehicular                                            91
Following Too Closely                                      70
Passing or Lane Usage Improper                             60
Traffic Control Disregarded                                46
Failure to Yield Right-of-Way                              41
Passing Too Closely                                        29
Unsafe Speed                                               26
Driver Inexperience                                        22
Backing Unsafely                                           21
View Obstructed/Limited                                    17
Unsafe Lane Changing                                       13
Aggressive Driving/Road Rage                               12
Reaction to Uninvolved Vehicle                             12
Turning Improperly                                         11
Pavement Slippery                                          10
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion       8
Oversized Vehicle                                           5
Outside Car Distraction                                     4
Alcohol Involvement                                         3
Failure to Keep Right                                       2
Traffic Control Device Improper/Non-Working                 2
Obstruction/Debris                                          2
Passenger Distraction                                       2
Other Lighting Defects                                      1
Fatigued/Drowsy                                             1
Illnes                                                      1
Shoulders Defective/Improper                                1
Prescription Medication                                     1
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [14]:
jan23["CONTRIBUTING FACTOR VEHICLE 3"].value_counts(dropna=False)

NaN                               6501
Unspecified                        637
Other Vehicular                     18
Following Too Closely               12
Driver Inattention/Distraction       9
Passing or Lane Usage Improper       3
Unsafe Speed                         2
Brakes Defective                     1
Obstruction/Debris                   1
Passing Too Closely                  1
View Obstructed/Limited              1
Pavement Slippery                    1
Turning Improperly                   1
Reaction to Uninvolved Vehicle       1
Name: CONTRIBUTING FACTOR VEHICLE 3, dtype: int64

In [15]:
jan23["CONTRIBUTING FACTOR VEHICLE 4"].value_counts(dropna=False)

NaN                               6998
Unspecified                        183
Other Vehicular                      4
Following Too Closely                2
Obstruction/Debris                   1
Passing or Lane Usage Improper       1
Name: CONTRIBUTING FACTOR VEHICLE 4, dtype: int64

In [16]:
jan23["CONTRIBUTING FACTOR VEHICLE 5"].value_counts(dropna=False)

NaN                   7127
Unspecified             60
Obstruction/Debris       1
Other Vehicular          1
Name: CONTRIBUTING FACTOR VEHICLE 5, dtype: int64

In [17]:
jan23["VEHICLE TYPE CODE 1"].value_counts(dropna=False)

Sedan                                  3453
Station Wagon/Sport Utility Vehicle    2484
Taxi                                    176
Pick-up Truck                           160
NaN                                     135
                                       ...
cart                                      1
Tow Truck                                 1
NYC FDNY #                                1
Scooter ga                                1
FDNY AMBUL                                1
Name: VEHICLE TYPE CODE 1, Length: 67, dtype: int64

In [18]:
jan23["VEHICLE TYPE CODE 2"].value_counts(dropna=False)

NaN                                    2661
Sedan                                  1958
Station Wagon/Sport Utility Vehicle    1416
Bike                                    182
Box Truck                               153
                                       ...
School bus                                1
FORKLIFT                                  1
TOW TRUCK                                 1
moped                                     1
Forklift                                  1
Name: VEHICLE TYPE CODE 2, Length: 81, dtype: int64

In [19]:
jan23["VEHICLE TYPE CODE 3"].value_counts(dropna=False)

NaN                                    6556
Sedan                                   327
Station Wagon/Sport Utility Vehicle     255
Pick-up Truck                            15
Box Truck                                 6
Tractor Truck Diesel                      5
Taxi                                      5
Van                                       5
Bus                                       3
Convertible                               2
Flat Bed                                  2
Moped                                     2
UTILITY TR                                1
Carry All                                 1
Tractor Truck Gasoline                    1
Tow Truck / Wrecker                       1
FLAT                                      1
Bike                                      1
Name: VEHICLE TYPE CODE 3, dtype: int64

In [20]:
jan23["VEHICLE TYPE CODE 4"].value_counts(dropna=False)

NaN                                    7010
Sedan                                    93
Station Wagon/Sport Utility Vehicle      69
Pick-up Truck                             8
Tractor Truck Diesel                      2
Dump                                      1
Flat Bed                                  1
SEMI-TRUCK                                1
Convertible                               1
4 dr sedan                                1
Motorcycle                                1
PK                                        1
Name: VEHICLE TYPE CODE 4, dtype: int64

In [21]:
jan23["VEHICLE TYPE CODE 5"].value_counts(dropna=False)

NaN                                    7130
Sedan                                    29
Station Wagon/Sport Utility Vehicle      27
Pick-up Truck                             1
Box Truck                                 1
Taxi                                      1
Name: VEHICLE TYPE CODE 5, dtype: int64

In [22]:
# Some of the LATITUDE and LONGITUDE values do not look legitimate, since they are 0 
# code zeros as missing values
import numpy as np
jan23.replace({'LATITUDE': 0, 'LONGITUDE': 0}, np.NaN, inplace=True)

In [23]:
# check if these columns still contain 0 (from min and max)
descriptive_selected_columns = jan23[['LATITUDE', 'LONGITUDE']].describe()
print (descriptive_selected_columns)

          LATITUDE    LONGITUDE
count  6629.000000  6629.000000
mean     40.722060   -73.918688
std       0.081583     0.085750
min      40.504658   -74.250150
25%      40.665245   -73.965830
50%      40.712833   -73.922820
75%      40.776638   -73.867714
max      40.912827   -73.705800

In [24]:
# check if there are any missing LATITUDE and LONGITUDE when OFF STREET NAME is not missing
missing_la_lo = jan23[jan23['OFF STREET NAME'].notna() & (jan23['LATITUDE'].isna() | jan23['LONGITUDE'].isna())].index
print (missing_la_lo)

Int64Index([ 219,  390,  475,  491,  615,  637,  680,  787,  788,  819,  884,
             886,  902,  905,  929,  930,  934,  983,  986, 1002, 1003, 1011,
            1138, 1306, 1321, 1943, 2090, 2212, 2624, 2627, 2684, 2860, 2903,
            2910, 3231, 3236, 3397, 3561, 3629, 3735, 3825, 4141, 4226, 4317,
            4495, 4519, 4608, 4638, 4730, 4934, 5197, 5239, 5408, 6010, 6067,
            6167, 6475],
           dtype='int64')

In [25]:
# Geocode the missing addresses using the Google Maps Geocoding API 
import requests

with open('cred', 'r') as f:
    api_key = f.readline()

In [47]:
missing_la_lo

Int64Index([ 219,  390,  475,  491,  615,  637,  680,  787,  788,  819,  884,
             886,  902,  905,  929,  930,  934,  983,  986, 1002, 1003, 1011,
            1138, 1306, 1321, 1943, 2090, 2212, 2624, 2627, 2684, 2860, 2903,
            2910, 3231, 3236, 3397, 3561, 3629, 3735, 3825, 4141, 4226, 4317,
            4495, 4519, 4608, 4638, 4730, 4934, 5197, 5239, 5408, 6010, 6067,
            6167, 6475],
           dtype='int64')

In [ ]:
for i in missing_la_lo:
    address = jan23.loc[i, 'OFF STREET NAME']
    address += ' NY'
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={api_key}"
    response = requests.get(url).json()

    la = response['results'][0]['geometry']['location']['lat']
    lo = response['results'][0]['geometry']['location']['lng']
    jan23.loc[i, 'LATITUDE'] = la
    jan23.loc[i, 'LONGITUDE'] = lo

In [26]:
# check if the previous process works (LATITUDE and LONGITUDE have been fulfilled)
print (jan23.loc[219, 'LATITUDE'])
print (jan23.loc[219, 'LONGITUDE'])

40.7534975
-73.985396

In [27]:
# check if ZIP CODE and BOROUGH are always missing together. The result shows that they are.
missing_table = pd.crosstab(jan23['ZIP CODE'].isna(), jan23['BOROUGH'].isna())
print(missing_table)

BOROUGH   False  True
ZIP CODE
False      4758      0
True          0   2431

In [28]:
# Geocode the missing ZIP CODE using the package uszipcode 
from uszipcode import SearchEngine
search = SearchEngine()

/home/myc/applications/miniconda3/lib/python3.10/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [29]:
missing_zip = jan23[jan23['LATITUDE'].notna() & jan23['LONGITUDE'].notna() & jan23['ZIP CODE'].isna()].index
print (missing_zip)

Int64Index([   3,    4,    9,   10,   18,   20,   29,   30,   32,   38,
            ...
            7150, 7153, 7154, 7159, 7167, 7169, 7174, 7176, 7180, 7187],
           dtype='int64', length=1998)

In [30]:
for i in missing_zip:
    lat, lng = jan23.loc[i, 'LATITUDE'], jan23.loc[i, 'LONGITUDE']
    result = search.by_coordinates(lat, lng, returns=1)
    if result:
        jan23.loc[i, 'ZIP CODE'] = result[0].zipcode

In [31]:
# check if the missing zip code has been filled
print (jan23.loc[3, 'ZIP CODE'])

11103

In [32]:
# fill the missing BOROUGH with ZIP CODE
def nyczip2borough(zip):
    nzip = int(zip)
    if nzip >= 10001 and nzip <= 10282:
        return "MANHATTAN"
    elif nzip >= 10301 and nzip <= 10314:
        return "STATEN ISLAND"
    elif nzip >= 10451 and nzip <= 10475:
        return "BRONX"
    elif nzip >= 11004 and nzip <= 11109:
        return "QUEENS"
    elif nzip >= 11351 and nzip <= 11697:
        return "QUEENS"
    elif nzip >= 11201 and nzip <= 11256:
        return "BROOKLYN"
    else:
        return np.nan

In [42]:
missing_bo = jan23[jan23['ZIP CODE'].notna() & jan23['BOROUGH'].isna()].index
missing_bo

Int64Index([142, 462, 1177, 1723, 2699, 4133, 5241, 5247, 5812], dtype='int64')

In [46]:
counter = 0
for i in missing_bo:
    zip = jan23.loc[i, 'ZIP CODE']
    result = nyczip2borough(zip)
    print(f'zip={zip}, result={result}')
    if result:
        jan23.loc[i, 'BOROUGH'] = result
        counter += 1
counter

zip=07020, result=nan
zip=07020, result=nan
zip=07002, result=nan
zip=07020, result=nan
zip=07008, result=nan
zip=07020, result=nan
zip=07020, result=nan
zip=07020, result=nan
zip=07020, result=nan

9

In [48]:
# check if the missing BOROUGH has been filled
print (jan23.loc[3, 'BOROUGH'])

QUEENS

In [36]:
"""
Following the instructions for queston 7: Print the whole frequency table of CONTRIBUTING 
FACTOR VEHICLE 1. Convert lower cases to uppercases and check the frequencies again.
"""
jan23['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

Driver Inattention/Distraction                           1761
Unspecified                                              1683
Failure to Yield Right-of-Way                             558
Following Too Closely                                     450
Passing or Lane Usage Improper                            346
Unsafe Speed                                              284
Passing Too Closely                                       265
Backing Unsafely                                          223
Traffic Control Disregarded                               197
Other Vehicular                                           191
Turning Improperly                                        186
Driver Inexperience                                       150
Alcohol Involvement                                       127
Unsafe Lane Changing                                      125
View Obstructed/Limited                                    73
Reaction to Uninvolved Vehicle                             64
Aggressive Driving/Road Rage                               58
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      57
Pavement Slippery                                          49
Fell Asleep                                                40
Brakes Defective                                           30
Oversized Vehicle                                          28
Steering Failure                                           21
Passenger Distraction                                      19
Lost Consciousness                                         17
Outside Car Distraction                                    17
Glare                                                      14
Tire Failure/Inadequate                                    13
Obstruction/Debris                                         12
Illnes                                                     10
Drugs (illegal)                                            10
Failure to Keep Right                                       9
Accelerator Defective                                       9
Driverless/Runaway Vehicle                                  7
Pavement Defective                                          6
Physical Disability                                         5
Fatigued/Drowsy                                             4
Animals Action                                              4
Tow Hitch Defective                                         2
Tinted Windows                                              2
Other Electronic Device                                     2
Cell Phone (hand-Held)                                      2
Prescription Medication                                     1
Lane Marking Improper/Inadequate                            1
Traffic Control Device Improper/Non-Working                 1
Windshield Inadequate                                       1
Texting                                                     1
Other Lighting Defects                                      1
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [37]:
jan23['CONTRIBUTING FACTOR VEHICLE 1'] = jan23['CONTRIBUTING FACTOR VEHICLE 1'].str.upper()
jan23['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

DRIVER INATTENTION/DISTRACTION                           1761
UNSPECIFIED                                              1683
FAILURE TO YIELD RIGHT-OF-WAY                             558
FOLLOWING TOO CLOSELY                                     450
PASSING OR LANE USAGE IMPROPER                            346
UNSAFE SPEED                                              284
PASSING TOO CLOSELY                                       265
BACKING UNSAFELY                                          223
TRAFFIC CONTROL DISREGARDED                               197
OTHER VEHICULAR                                           191
TURNING IMPROPERLY                                        186
DRIVER INEXPERIENCE                                       150
ALCOHOL INVOLVEMENT                                       127
UNSAFE LANE CHANGING                                      125
VIEW OBSTRUCTED/LIMITED                                    73
REACTION TO UNINVOLVED VEHICLE                             64
AGGRESSIVE DRIVING/ROAD RAGE                               58
PEDESTRIAN/BICYCLIST/OTHER PEDESTRIAN ERROR/CONFUSION      57
PAVEMENT SLIPPERY                                          49
FELL ASLEEP                                                40
BRAKES DEFECTIVE                                           30
OVERSIZED VEHICLE                                          28
STEERING FAILURE                                           21
PASSENGER DISTRACTION                                      19
LOST CONSCIOUSNESS                                         17
OUTSIDE CAR DISTRACTION                                    17
GLARE                                                      14
TIRE FAILURE/INADEQUATE                                    13
OBSTRUCTION/DEBRIS                                         12
ILLNES                                                     10
DRUGS (ILLEGAL)                                            10
FAILURE TO KEEP RIGHT                                       9
ACCELERATOR DEFECTIVE                                       9
DRIVERLESS/RUNAWAY VEHICLE                                  7
PAVEMENT DEFECTIVE                                          6
PHYSICAL DISABILITY                                         5
FATIGUED/DROWSY                                             4
ANIMALS ACTION                                              4
TOW HITCH DEFECTIVE                                         2
TINTED WINDOWS                                              2
OTHER ELECTRONIC DEVICE                                     2
CELL PHONE (HAND-HELD)                                      2
PRESCRIPTION MEDICATION                                     1
LANE MARKING IMPROPER/INADEQUATE                            1
TRAFFIC CONTROL DEVICE IMPROPER/NON-WORKING                 1
WINDSHIELD INADEQUATE                                       1
TEXTING                                                     1
OTHER LIGHTING DEFECTS                                      1
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [38]:
"""
I did not find any difference for CONTRIBUTING FACTOR VEHICLE 1 between before and after 
converting lower cases to uppercases. I think question 7 meant to ask for the frequency 
table for VEHICLE TYPE CODE 1, therefore I also post it here. From these results, we 
could see that some counts are changed, such as van and ambulance, which suggests that 
mixing lower cases and upper cases could lead to miscount.
"""
with pd.option_context('display.max_rows', None):
    print(jan23['VEHICLE TYPE CODE 1'].value_counts())

Sedan                                  3453
Station Wagon/Sport Utility Vehicle    2484
Taxi                                    176
Pick-up Truck                           160
Bus                                     135
Box Truck                               110
Bike                                     83
Ambulance                                54
Tractor Truck Diesel                     53
E-Bike                                   50
Van                                      43
Motorcycle                               28
E-Scooter                                28
Dump                                     18
Flat Bed                                 17
Moped                                    17
PK                                       16
Garbage or Refuse                        16
Convertible                              11
Chassis Cab                               9
Carry All                                 9
Tractor Truck Gasoline                    7
Tanker                                    7
Tow Truck / Wrecker                       6
Motorscooter                              5
AMBULANCE                                 5
LIMO                                      5
Flat Rack                                 3
Motorbike                                 3
4 dr sedan                                3
Firetruck                                 2
MOTOR SCOO                                2
STAK                                      2
Concrete Mixer                            2
Beverage Truck                            1
SCHOOL BUS                                1
Waste truc                                1
Forklift                                  1
UTILITY                                   1
SANITATION                                1
Log                                       1
AMBU                                      1
3-Door                                    1
Multi-Wheeled Vehicle                     1
Scooter                                   1
Stake or Rack                             1
PAS                                       1
Lift Boom                                 1
Gas Moped                                 1
Bulk Agriculture                          1
Armored Truck                             1
TRAILER                                   1
electric s                                1
Motorized                                 1
VAn                                       1
ELECTRIC S                                1
UTIL                                      1
FORK LIFT                                 1
STREET SWE                                1
GARBAGE TR                                1
Chevy                                     1
cart                                      1
Tow Truck                                 1
NYC FDNY #                                1
Scooter ga                                1
FDNY AMBUL                                1
Name: VEHICLE TYPE CODE 1, dtype: int64

In [39]:
jan23['VEHICLE TYPE CODE 1'] = jan23['VEHICLE TYPE CODE 1'].str.upper()
with pd.option_context('display.max_rows', None):
    print (jan23['VEHICLE TYPE CODE 1'].value_counts())

SEDAN                                  3453
STATION WAGON/SPORT UTILITY VEHICLE    2484
TAXI                                    176
PICK-UP TRUCK                           160
BUS                                     135
BOX TRUCK                               110
BIKE                                     83
AMBULANCE                                59
TRACTOR TRUCK DIESEL                     53
E-BIKE                                   50
VAN                                      44
MOTORCYCLE                               28
E-SCOOTER                                28
DUMP                                     18
MOPED                                    17
FLAT BED                                 17
PK                                       16
GARBAGE OR REFUSE                        16
CONVERTIBLE                              11
CHASSIS CAB                               9
CARRY ALL                                 9
TRACTOR TRUCK GASOLINE                    7
TANKER                                    7
TOW TRUCK / WRECKER                       6
MOTORSCOOTER                              5
LIMO                                      5
MOTORBIKE                                 3
FLAT RACK                                 3
4 DR SEDAN                                3
FIRETRUCK                                 2
STAK                                      2
ELECTRIC S                                2
CONCRETE MIXER                            2
MOTOR SCOO                                2
PAS                                       1
3-DOOR                                    1
MULTI-WHEELED VEHICLE                     1
SCOOTER                                   1
AMBU                                      1
UTILITY                                   1
LOG                                       1
SANITATION                                1
FORKLIFT                                  1
LIFT BOOM                                 1
WASTE TRUC                                1
SCHOOL BUS                                1
BEVERAGE TRUCK                            1
GAS MOPED                                 1
STAKE OR RACK                             1
BULK AGRICULTURE                          1
STREET SWE                                1
SCOOTER GA                                1
NYC FDNY #                                1
TOW TRUCK                                 1
CART                                      1
CHEVY                                     1
GARBAGE TR                                1
FORK LIFT                                 1
ARMORED TRUCK                             1
UTIL                                      1
MOTORIZED                                 1
TRAILER                                   1
FDNY AMBUL                                1
Name: VEHICLE TYPE CODE 1, dtype: int64

1. I don't know how the latitude and the longitude are got. If there is a machine that show them, is it possible to record them automatically? Why in some cases, they are missing while the detailed address is available? Also, there should be a choice for missing rather than a choice of “0”, which might lead to confusion.
2. I think for the variables related to contributing factors and the variables related to vehicle types, it is better to provide fixed choices to the reporter (they could choose from existing choices rather than type themselves) for the most parts. For the factors and types that are not provided, they could choose “others” and type. All typing could be converted to all lower/upper cases automatically.

In [40]:
jan23.to_csv('data/nyc_crashes_cleaned.csv', index=False)

merged_df.to_csv('data/merged.csv', index=False)